<template>
  <div>
    <p class="uk-text-center uk-text-uppercase uk-text-lead">Admin Panel</p>
    <fieldset class="uk-fieldset">

      <div class="uk-margin">
        <label class="uk-form-label">Video URL</label>
        <input
          class="uk-input uk-form-small"
          type="text"
          placeholder="Video URL"
          v-model="videoURL"
        >
      </div>

      <div class="uk-margin">
        <button
          class="uk-button uk-button-primary uk-width-1-1"
          v-on:click="updateURL"
        >Update Settings</button>
      </div>

    </fieldset>
  </div>
</template>

<script>
import Socket from '../Socket.js';
export default {
  name: 'AdminComponent',
  data: () => ({
    videoURL: ''
  }),
  methods: {
    updateURL() {
      Socket.updateURL(this.videoURL);
    }
  }
}
</script>

<style scoped>
</style>
