<template>
  <div v-on:keyup="sendMessageEnter">
    <p class="uk-text-center uk-text-uppercase uk-text-lead">Chat Panel</p>
    <div id="chat-panel" class="uk-margin">
      <ul class="uk-list">
        <li v-for="(message, index) in $store.state.notifications" :key="index">{{message}}</li>
      </ul>
    </div>
    <fieldset class="uk-fieldset">
      <div class="uk-margin">
        <input
          class="uk-input uk-form-small"
          type="text"
          placeholder="Message"
          v-model="message"
        >
      </div>

      <div class="uk-margin">
        <button
          class="uk-button uk-button-primary uk-width-1-1"
          v-on:click="sendMessage"
        >Send Message</button>
      </div>
    </fieldset>
  </div>
</template>

<script>
import Socket from '../Socket.js';

export default {
  name: 'ChatComponent',
  data() {
    return {
      message: ''
    }
  },
  methods: {
    sendMessage() {
      if (!this.message) return;
      Socket.sendMessage(this.message);
      this.message = '';
    },
    sendMessageEnter(e) {
      if (e.keyCode === 13) {
        this.sendMessage();
      }
    },
  }
}
</script>

<style scoped>
#chat-panel {
  height: 40vh;
  overflow-y:scroll;
}
</style>
