<template>
  <div class="login-component uk-container uk-container-small">
    <div class="uk-margin"></div>
    <div class="uk-text-center">
      <img id="logo" src="@/assets/play-button.png" />
    </div>
    <div>
      <fieldset class="uk-fieldset">

        <legend class="uk-legend">Join Room</legend>

        <p class="uk-text-meta">
          When you join an empty room, it will be locked with the password you specified. Meaning
          others will need to supply the same password to join.
        </p>

        <div class="uk-margin">
          <label class="uk-form-label">Room Name</label>
          <input
            class="uk-input uk-form-small"
            type="text"
            placeholder="Room Name"
            v-model="roomName"
          >
        </div>

        <div class="uk-margin">
          <label class="uk-form-label">Room Password</label>
          <input
            class="uk-input uk-form-small"
            type="text"
            placeholder="Room Password"
            v-model="roomPass"
          >
        </div>

        <div class="uk-margin">
          <label class="uk-form-label">User Name</label>
          <input
            class="uk-input uk-form-small"
            type="text"
            placeholder="User Name"
            v-model="userName"
          >
        </div>

        <div class="uk-margin">
          <button
            class="uk-button uk-button-primary uk-width-1-1"
            v-on:click="$emit('login', roomName, roomPass, userName)"
          >Join Room</button>
        </div>

      </fieldset>
    </div>

    <div class="uk-margin">
      <p class="uk-text-meta">
        Version 0.1.0
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'LoginComponent',
  data: () => ({
    roomName: '',
    roomPass: '',
    userName: '',
  }),
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #logo { width: 128px; }
</style>
