<template>
  <div class="uk-flex">
    <div id="video-player-wrapper" class="uk-padding-small">
      <youtube
        id="video-player"
        width="100%"
        height="100%"
        :video-id="getVideoID"
        :player-vars="playerVars"
        ref="youtube"
        @playing="playing"
        @paused="paused"
      ></youtube>
      <div class="uk-margin uk-flex">
        <div class="uk-flex-auto">
          <input
            class="uk-range"
            type="range"
            :value="getVideoTime"
            min="0"
            :max="duration"
            step="1"
            :disabled="!getIsAdmin"
            v-on:change="updateTime"
            v-on:input="seek"
          >
        </div>
        <div class="uk-padding-small uk-padding-remove-vertical uk-padding-remove-right">
          {{ getFormatTime(getVideoTime) }} / {{ getFormatTime(duration) }}
        </div>
      </div>
    </div>
    <div class="uk-padding-small uk-flex-auto">
      <hr class="uk-divider-icon">
      <div v-if="getIsAdmin">
        <ul class="uk-subnav uk-subnav-divider uk-subnav-pill" uk-margin>
          <li :class="openPanel === 'ChatPanel' ? 'uk-active' : ''">
            <a href="javascript:void(0);" v-on:click="openPanel='ChatPanel'">Chat Panel</a>
          </li>
          <li :class="openPanel === 'AdminPanel' ? 'uk-active' : ''">
            <a href="javascript:void(0);" v-on:click="openPanel='AdminPanel'">Admin Panel</a>
          </li>
        </ul>
        <keep-alive>
          <component v-bind:is="openPanel"></component>
        </keep-alive>
      </div>
      <div v-if="!getIsAdmin"><ChatPanel /></div>
      <div class="uk-margin uk-margin-remove-top">
        <button
          class="uk-button uk-button-danger uk-width-1-1"
          v-on:click="leaveRoom"
        >Leave Room</button>
      </div>
    </div>
  </div>
</template>

<script>
import AdminPanel from '@/components/AdminPanel.vue';
import ChatPanel from '@/components/ChatPanel.vue';
import Socket from '../Socket.js';

import {VD_PLAYING, VD_PAUSED} from '../store/constants.js';

export default {
  name: 'VideoComponent',
  components: {
    AdminPanel, ChatPanel
  },
  data: () => ({
    openPanel: 'AdminPanel',
    playerVars: {
      controls: 0,
      autoplay: 1,
    },
    duration: 0,
    playerWatcher: undefined,
    seeking: false,
  }),
  methods: {
    getFormatTime(time) {
      const hour = Math.floor(time / 60);
      const minute = Math.floor(time % 60);
      const maskedMinute = minute.toString().padStart(2, '0');

      return `${hour}:${maskedMinute}`;
    },
    playVideo() {
      this.player.playVideo();
    },
    playing() {
      Socket.updateState(VD_PLAYING);
      this.player.getDuration().then(duration => this.duration = duration);
      // We need to make sure we clear the previous interval or else it will just keep running
      // This case occurs when you seek, calling this playing function while bypassing the paused
      // function
      clearInterval(this.playerWatcher);
      this.playerWatcher = setInterval(() => {
        if (!this.seeking) {
          this.player.getCurrentTime().then((time) => {
            const {admin, myUserName} = this.$store.state;
            if (admin === myUserName) Socket.updateTime(time);
            this.$store.state.videoTime = time;
          });
        }
      }, 500);
    },
    paused() {
      Socket.updateState(VD_PAUSED);
      clearInterval(this.playerWatcher);
      this.playerWatcher = undefined;
    },
    seek() {
      this.seeking = true;
    },
    updateTime(event) {
      Socket.updateTime(event.target.value);
      this.seeking = false;
    },
    leaveRoom() {
      Socket.leaveRoom();
    }
  },
  computed: {
    player() {
      return this.$refs.youtube.player
    },
    getVideoID() {
      return this.$store.state.videoID;
    },
    getVideoTime() {
      return this.$store.state.videoTime;
    },
    getIsAdmin() {
      return this.$store.state.admin === this.$store.state.myUserName;
    },
    getState() {
      return this.$store.state.videoState;
    },
    getNotification() {
      return this.$store.state.notifications;
    },
  },
  watch: {
    getVideoTime(newTime, oldTime) {
      // console.log(`Changed: ${oldTime} -> ${newTime}`);
      if (Math.abs(newTime - oldTime) > 1) {
        this.player.seekTo(newTime, true);
      }
    },
    getState(newState, ) {
      if (newState === VD_PLAYING) this.player.playVideo();
      if (newState === VD_PAUSED) this.player.pauseVideo();
      // console.log(`Changed: ${oldState} -> ${newState}`);
    },
  },
}
</script>

<style scoped>
  #video-player-wrapper {
    width: 1280px;
    height: 720px;
  }
</style>
