<template>
  <div id="app">
    <div id="header">
    </div>
    <LoginComponent v-on:login="login" v-if="!inRoom"/>
    <VideoComponent v-if="inRoom"/>
    <notifications group="foo" position="top center" />
  </div>
</template>

<script>
import LoginComponent from './components/LoginComponent.vue';
import VideoComponent from './components/VideoComponent.vue';
import Socket from './Socket.js';

export default {
  name: 'App',
  components: {
    LoginComponent, VideoComponent
  },
  data: () => ({
    currentComponent: 'LoginComponent',
  }),
  methods: {
    login: function (roomName, roomPass, userName) {
      this.$store.commit('updateMyUserName', {myUserName: userName});
      Socket.login(roomName, roomPass, userName);
    }
  },
  computed: {
    inRoom() {
      return this.$store.state.inRoom;
    },
  },
}
</script>

<style>
  #header {
    background: #4675bd;
    height: 12px;
  }
</style>
